Private DNS RecordSet: ResourceGroup name has wrong case

While working on a new terraform resource for a private DNS Zone A record ( https://github.com/terraform-providers/terraform-provider-azurerm/pull/3849 ) I stumbled across an issue with upper case resource group names.

### Step to reproduce:

*  create a resource group named `tesT`
* create a private DNS zone in this resource group ('testdomain.com')
* create an A record in the private DNS zone. ('test')
* API request: https://management.azure.com/subscriptions/<subscriptionId>/resourceGroups/tesT/providers/Microsoft.Network/privateDnsZones/testdomain.com/A/test.testdomain.com?api-version=2018-09-01

The API response for the A record resource is like:


```
{
   "id":"\/subscriptions\/<subscription>\/resourceGroups\/test\/providers\/Microsoft.Network\/privateDnsZones\/testdomain.com\/A\/test",
   "name":"test.testdomain.com",
   "type":"Microsoft.Network\/privateDnsZones\/A",
   "etag":"bfe9801a-698e-4835-a9b5-8cd31bd3e12c",
   "properties":{
      "metadata":{

      },
      "fqdn":"test.mtestdomain.com.",
      "ttl":300,
      "aRecords":[
         {
            "ipv4Address":"10.10.10.10"
         }
      ],
      "isAutoRegistered":false
   }
}
```

The problem is the lower case in the `id` attribute for the resource group `test`

### Expected Behaviour:

Having an id with resource group name `tesT`. 
This is the behaviour when creating a recordset for the normal DNS zones.


@shahabhijeet any update on when this'll be fixed?

This is expected behavior. ARM resource names are not case sensitive and application code must not rely on the case of the resourcename or resource group name.


@rohinkoul unfortunately other ARM API's can be case sensitive, meaning that unless every API and every client treat all URI's as case insensitive (which they don't), then by definition every client has to treat these as case sensitive.

It's worth mentioning that both [RFC 2616](https://tools.ietf.org/html/rfc2616) and [RFC 7230](https://tools.ietf.org/html/rfc7230) define that both URI's and Components should be treated as case-sensitive by clients - so I believe this wants fixing to match the industry best practice here?

Thanks!

Please refer : https://docs.microsoft.com/en-us/rest/api/resources/resources/update

resourceGroupName	path	True	
string
The name of the resource group for the resource. The name is case insensitive.

Regex pattern: ^[-\w\._\(\)]+$


ARM Resource Group Name in ARM URI is case insensitive. If you have noticed an Azure Service not abiding with this please let us know.

@lilyjma Please close this as won't fix.

@rohinkoul the HTTP Specification - namely [RFC7230, section 2.7.3](https://tools.ietf.org/html/rfc7230#section-2.7.3) (and indirectly [RFC 2616](https://tools.ietf.org/html/rfc2616)) state that:

> The scheme and host are case-insensitive and normally provided in lowercase; all other components are compared in a case-sensitive manner.

Ultimately whilst a service itself may opt to be case-insensitive for Request URI's - per the HTTP Specification, references to URI's (e.g. in Responses) should be case-sensitive.

As such I believe this bug is valid and should remain open until this API complies with the HTTP Specification?

Thanks!

@rohinkoul for reference [here's a link to the Azure API Documentation](https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md) where it's clarified this is a bug in the API:

> Additionally, we MUST preserve the casing provided by the user. That means we should return back the most recently specified casing to the client (and we MUST not normalize / return back a toupper/tolower form of the resource group or resource name, for example).

As such - is there a timeframe for when these casing bugs will be fixed?

Thanks!

It's worth noting this also appears to affect the Virtual Network Peering API's: https://github.com/terraform-providers/terraform-provider-azurerm/issues/8289

@karravi-msft could you take a look and if necessary add this to our backlog.